* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mukta Mahee", sans-serif !important;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  color: #6c757d;
}
.heading {
  font-size: 80px;
  font-family: "Abril Fatface", times, serif;
  color: #fff;
  line-height: 1;
  font-weight: bold;
}
h1,
h2,
h3 {
  color: #000;
  font-family: "Abril Fatface", times, serif;
}
.sub-heading {
  font-size: 30px;
  font-weight: 200;
  color: #fff;
  line-height: 1.5;
}
.header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.header > div {
  padding: 45px 15px;
}
.logo {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  font-family: "Abril Fatface", times, serif;
  margin: 0;
  position: relative;
  z-index: 10;
  cursor: pointer;
}
.svg-burger {
  width: 40px;
  color: white;
  cursor: pointer;
}

/* ************************************************ */
.landing {
  background-image: url("../img/hero_1.jpg.webp");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  min-height: 700px;
  width: 100%;
}
.landing .overlaye {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  height: 100vh;
  min-height: 700px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.landing .contant {
  position: relative;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.landing .heading {
  margin-bottom: 30px;
}
.landing .sub-heading {
  margin-bottom: 48px;
}
.landing .special {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}
.landing .special:hover {
  color: white;
  border-bottom: 2px solid white;
}
.landing .button-visit {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-width: 2px;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  border-radius: 4px;
  color: #f8f9fa;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #f8f9fa;
  transition: all 0.3s;
  font-weight: 300;
}
.landing .button-visit:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
/* *********************************************** */
.welcome {
  padding: 127px 25px;
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
}
.welcome .left {
  width: 50%;
  padding: 0 12px;
}
.welcome .left img {
  width: 100%;
}
.welcome .right {
  width: 50%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome .Welcome {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.welcome .right .top p {
  margin-bottom: 20px;
}
.welcome .group-icon {
  display: flex;
  align-items: center;
}
.welcome .icon {
  width: fit-content;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #b5bec4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: all 0.3s;
}
.welcome .group-icon p {
  color: #65c0ba;
  font-size: 25px;
  font-weight: 500;
  transition: all 0.3s;
}
.welcome .fa-play {
  color: #3f9a94;
  transition: all 0.3s;
}
.welcome .group-icon:hover p {
  color: #3f9a94;
}
.welcome .group-icon:hover .icon {
  border: 2px solid black;
}
.welcome .group-icon:hover .fa-play {
  color: black;
}
/* ***************************************************************** */
.three {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
}
.three .container-three {
  padding: 127px 30px;
  margin: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.three .heading-three {
  text-align: center;
  width: 66%;
  margin-bottom: 40px;
}
.three .heading-three > h2 {
  font-size: 2rem;
  font-weight: 500;
}
.three .heading-three > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.content .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.content .cards img {
  width: 70px;
  margin-bottom: 20px;
}
.content .cards h3 {
  font-size: 1.75rem;
  font-weight: 400;
}

/* ********************************************************************** */
.four .container-four {
  padding: 127px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.four .heading-four {
  text-align: center;
  width: 60%;
  margin-bottom: 40px;
}
.four .heading-four > h2 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 30px;
}
.four .heading-four > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}
.four .carousel {
  box-shadow: 0 10px 70px -10px rgba(0, 0, 0, 0.2);
}
.four .carousel .img-carousel {
  width: 1000px;
  height: 700px;
}
.four .carousel .img-carousel img {
  width: 100%;
  height: 100%;
}
.four .carousel .carousel-indicators > button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}
/* ********************************************************************** */
.five {
  position: relative;
  background-color: #65c0ba;
  margin-top: -500px;
  padding-top: 500px;
  overflow: hidden;
}
.five::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 400px;
  width: 150%;
  left: 50%;
  background: #fff;
  transform: rotate(-4deg) translateX(-50%) translateY(-100%);
}
.five .container-five {
  padding: 30px 35px 105px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.five .heading-five {
  text-align: center;
  width: 60%;
  margin-bottom: 40px;
}
.five .heading-five > h2 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 30px;
}
.five .heading-five > p {
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}
.five .row {
  display: flex;
}
.five .Best {
  background: #fff;
}
.five .Best > a {
  display: block;
}
.five .media-body {
  padding: 10px 30px;
}
.five .meta-post {
  color: #ced4da;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.five .text-decoration-none {
  color: #000;
  font-size: 26px;
}
.five .text-decoration-none:hover {
  color: #65c0ba;
}
/* ***************************** */

@media (max-width: 991.98px) {
  .landing .heading {
    font-size: 40px;
  }
  .landing .sub-heading {
    font-size: 18px;
  }
  .button-visit {
    padding: 15px 80px 15px 80px;
  }
  .welcome {
    flex-direction: column;
    margin: 0 20px;
  }
  .welcome .left {
    width: 100%;
  }
  .welcome .left {
    margin-bottom: 30px;
  }
  .welcome .right {
    width: 100%;
  }
  .three .container-three {
    padding: 127px 0;
    margin: 0 40px;
  }
  .three .heading-three {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
  .four .heading-four {
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
  }
  .four .carousel .img-carousel {
    width: 650px;
    height: 350px;
  }
}
@media (max-width: 650px) {
  .welcome {
    margin: 0;
  }
  .welcome .right .top h2 {
    font-size: 25px;
  }
  .three .container-three {
    padding: 127px 0;
    margin: 0 20px;
  }
  .three .heading-three {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .four .heading-four {
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
  }
  .four .heading-four > h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 15spx;
  }
  .four .carousel .img-carousel {
    width: 300px;
    height: 200px;
  }
  .four .carousel .carousel-indicators > button {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 400px) {
  .four .carousel .img-carousel {
    width: 200px;
    height: 100px;
  }
}
.colm-xs-12 {
  width: 100%;
}
/* *************************************************** */
@media (min-width: 768px) {
  .colm-md-6 {
    width: 50%;
  }
  .colm-md-4 {
    width: 33.3333%;
  }
  .colm-md-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .colm-lg-4 {
    width: 33.3333%;
  }
  .colm-lg-3 {
    width: 25%;
  }
  .colm-lg-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .colm-xl-3 {
    width: 25%;
  }
  .colm-xl-4 {
    width: 33.3333%;
  }
  .colm-xl-6 {
    width: 50%;
  }
}
